:host {
  display: block;
}

nav {
  display: flex;
  flex-direction: row;
  height: 64px;
  align-items: center;
  background-color: var(--mat-sys-surface);
}

@media (min-width: 900px) {
  nav {
    flex-direction: column;
    width: 240px;
    height: 100dvh;
    align-items: stretch;
  }
}
