.menu-button {
  margin-right: 12px;
}

.page-top-bar {
  border-top-left-radius: var(--mat-sys-corner-large);
  border-top-right-radius: var(--mat-sys-corner-large);
}

.right {
  margin-left: auto;
}